<h5 class="grey-text text-darken-4">To-do List</h5>
  <ul class="collection">
    {{#each data}}
    <li class="collection-item dismissable" id={{id}}><div>{{todo_text}}<i class="material-icons secondary-content todo-check">check</i></div></li>
    {{/each}}
  </ul>
